.buyarea{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 10vh;
    
}

.Mtitle{
   margin-top: 1rem;

   text-align: center;
}
.catopts{
    
    display: flex;
    margin: 0.5rem;
    margin-top: 1.5rem;
    flex-direction: column;
    gap: 0.7rem;
    align-items: flex-start;
}

label{
    margin: 0rem;
}

.cate{
    display: flex;
    align-items: center;
    gap: 1rem;
}

input.catoli{
  height: 1.5rem;
  width: 1.5rem;
}



.range{
    display: flex;
}

.filters{
    padding-right: 1rem;
    padding-top: 1rem;
    border-right: 2px solid white;
    width: 30vw;
}

.nftcards{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 2rem;
    column-gap: 2rem;
}

.ft{
    display: flex;
    justify-content: space-between;
    align-items: center;
}