.logo{
    height: 30px;
    position: absolute;
    top: 20px;
    left: 35px;
    text-decoration: none;
    
  }
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  

  
  #dp{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .dp{
    border-radius: 50%;
  }
  .dash{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    
  }
  
  .navbar{
    position: fixed;
    width: 100vw;
    z-index:1;
    /* background-color: black; */
    color: rgb(0 199 255);
    /* height: px; */
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  
  
  .navul{
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-right: 1rem;

  }
  .navli{

    margin: auto 10px;
    font-size: 1.5rem;
    list-style: none;
    cursor: pointer;
  }
  
  
  .navroute{
    text-decoration: none;
    color: rgb(0 199 255);
    transition: 0.5s;
    
  }
  
  .navroute:hover{
    text-decoration: none;
    color: #ec1f7f;
    text-shadow: 0 0 15px #e83e8c, 0 0 25px #e83e8c;
    animation: glow 1.5s linear infinite;
  }

  .actroute{
    color: #e83e8c;
  }
  
  .social{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    margin-right: 30px;
  }
  
  .soclogos:hover{
      position: relative;
      bottom: 5px;
  }

  #dash{
    border-left: 1px solid white;
    padding-left: 1rem;
  }

  .navlogo{
    width: 3.5rem;
  }
  