


.nftdetailssingle{
  overflow-x: hidden;
  background-color: white;
}
  body{
    background-color: rgba(210, 210, 238, 0.455);
  }
  /*  */
  .namensp{
    margin-top: 15vh;
    margin-left: 36vw;
   
  }
  .rightimg:hover{
    cursor: pointer;
  }
  .backfronticons{
   border: 2px solid black;
   
  }
  
  .rightimg{
  
  }
  .backimgnsp{
    margin-left: 2rem;
    margin-top: 3rem;
   
  }
  .backimgnsp:hover{
 cursor: pointer;
  }
  .prev{
border: 2px solid black;
margin-top: 4px;
    margin-bottom: -44px;
   
   
  }
  .nextt{
    border: 2px solid black;
  }
 
  
  
  .nftimage{
    margin-top: -200px;
  }
  
  .graph{
    margin-top: 50px;
    height: 500px;
    width: 500px;
    margin-left: 50px;
    
  }
  .imgnsp
  {border-radius: 30px;
   border: 2px solid black;
   height: 360px;
   width: 383px;
   margin-left: 50px;
}
.graphimg{
  height: 360px;
   width: 383px;
}
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  .verifiedtick{
    height: 1.2rem;
    width: 1.2rem;
    position: relative;
    left: 3.8rem;
    
  }
  .creatorid{
    font-size: 1rem;
    font-family: monospace;
    color: grey;
    padding-left: 6.2rem;
    margin-top: -1.4rem;
  }
  .ownertext{
    position: relative; 
    top: -2.2rem;
    left: 6.4rem;
    color: rgb(46, 94, 100);
  }
  #ownerid{
    position: relative;
    left: 30rem;
    top: -2.5rem;
  
  }
  .ownership{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  left: 38rem;
  top: 28rem;
  font-size: 1.2rem;
  font-weight: 600;
  }
  .ownership:hover{
    cursor: pointer;
  }
  .history:hover{
    cursor: pointer;
  }
  #ownerpic{
    position: relative;
    top: 1rem;
    left: 2rem;
  }
  #ownershipdetails{
    position: relative;
    top: 38rem;
    left: 30rem;
  }
  .history{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 46rem;
    top: 16.7rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  #ownercn{
    top: -34px;
    left: 6.322rem;
    
  }
  .creatordetailsnsp{
    
    display: inline-block;
    position: relative;
    top: 30rem;
    left: 30rem;
    font-size: 1.2rem;
  }
  .cnnsp{
    display: inline-block;
    position: relative;
    top:-25px;
    left: 1rem;
    color: rgb(39, 5, 82);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  .copyimg{
    height: 16px;
    width: 16px;
  }
  .copyimg:hover{
  cursor: pointer;
  }